:root {
    
    /* Colors */
    --background: #30475D;
    
    --foreground-1: #244970;
    --foreground-2: #214266;
    --foreground-3: #1E3A5C;
    --foreground-4: #15283C;
    --foreground-5: #081c31;

    --font-color-1: white;
    --font-color-2: black;

    /* Fonts */
    --font-family: Arial;
}

html,
body {
    background-color: var(--background);

    margin: 0;

    box-sizing: border-box;

    user-select: none;
}

* {
    box-sizing: inherit;
    font-family: var(--font-family);
}

.header {
    background-color: var(--foreground-5);

    margin: 0;
    height: 6vmin;

    line-height: 4vmin;

    padding: 1vmin;
}

.header .title {
    font-weight: bold;
    font-size: 3vmin;

    color: var(--font-color-1);
}

.header .link {
    position: absolute;
    top: 2vmin;
    right: 1vmin;

    color: var(--font-color-1);
}

.header .link:hover {
    color: lightgray;
}

.content {
    height: 94vmin;
}

.sidebar {
    float: left;
    background-color: var(--foreground-4);

    width: 20vmin;
    height: 100%;
}

.sidebar button {
    background-color: inherit;

    width: 100%;
    height: 6vmin;

    text-align: left;
    padding-left: 2vmin;

    border: none;

    color: white;
    font-size: 2vmin;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}

.sidebar button:hover {
    background-color: var(--foreground-3);
}

.sidebar .coming-soon:hover span {
    display: none;
}

.sidebar .coming-soon:hover:before {
    content: "Coming Soon?";

}

.sidebar button:active {
    background-color: var(--foreground-2);
}

.page-container {
    float: none;
    height: 100%;
    overflow: hidden;
}

.page-content {
    float: none;
    height: 100%;
    overflow: hidden;
    
    padding: 1vmin;

    display: flex;
}

.hidden {
    display: none;
}

.help {
    color: var(--font-color-1);
    font-weight: bold;
    font-size: 1.75vmin;

    position:absolute;
    top: 0;
    right: 0;

    margin: 0.75vmin;
    line-height: 1vmin;

    border-radius: 100%;
    padding: 0.5vmin;

    outline: 2px solid white;

    display: inline-block;
}

.help:hover .tooltip {
    visibility: visible;
    opacity: 100%;
}

.tooltip {
    visibility: hidden;
    width: 22vmin;

    font-weight: initial;
    
    padding: 0.5vmin;

    background-color: var(--foreground-5);
    color: var(--font-color-1);
    text-align: center;

    font-size: 1.125vmin;
    line-height: 1.25vmin;

    border-radius: 1vmin;
    
    position: absolute;
    z-index: 1;

    right: 1vmin;

    transition: 0.2s;
    opacity: 0;
}

.warning {
    color: #FF9900;
    font-weight: bold;
    font-size: 1.75vmin;

    position:absolute;
    top: 0;
    right: 0;

    margin: 0.75vmin;
    line-height: 1vmin;

    border-radius: 100%;
    padding: 0.5vmin;

    outline: 2px solid #FF9900;

    display: inline-block;

    width: 2vmin;
    text-align: center;
}

.warning:hover .tooltip {
    visibility: visible;
    opacity: 100%;
}